@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');
body {font-family: 'Monofett', cursive;background-color:  black; padding: 0.5%;}
nav {text-align: center; background-color: black;}
header {text-align: center; background-color: black; color: white;}
a:link{ color: white;}
a:visited{color: white;}
a:active{color: white;}
a:hover{color: blue;}
footer{text-align: center; background-color: gray;}
.div1{color: goldenrod; background: darkslateblue; display: flex;width: 25%; min-height: auto;flex-direction: column;align-items: center}
.darkness{color: darkred;}
img{height: 25%;width: 25%;margin: 10%;}
#Section2{color: darkslateblue;margin: 5%;}
#Section3{color: rgb(169, 169, 169);text-align: center;}
ul{list-style-type: square;}
#footerc>a{color: black;}
#footerc>a:hover{color: blue;}
h3{color: black;text-align: center;}
.container{display: flex;width:100%; padding: 0%; border: 0cm;
}
.div2{color: goldenrod; background: darkslateblue; display: flex;width: 25%; min-height: auto;flex-direction: column;align-items: center;position;}
.box1{flex-direction: row;background: darkslateblue;width: 25%;}
