<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='main.css')}}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JavaScript Events</title>
</head>
<body onload="stateCheck()">
    <div class="flex-container-h">
    <div>
    <h1>JavaScript Events</h1>
    <div class="flex-container-h">
        <button onclick="darkMode()">Dark Mode</button>
    </div>
    <nav>
        <ul>
            <a href="{{ url_for('my_view.index')}}"><li>Home</li></a>
            <a href="{{ url_for('my_view.contact')}}"><li>Contact</li></a>
            <a href="{{ url_for('my_view.about')}}"><li>About</li></a>
            <a href="{{ url_for('my_view.admin')}}"><li>Admin</li></a>
            <a href="{{ url_for('my_view.example')}}"><li>Example Page</li></a>
        </ul>
    </nav>    

<script src ="{{ url_for('static',filename='java.js')}}"></script>
    {% block content %}
    {% endblock %}
    
</body>
</html>